html {
    background-color: rgb(95, 182, 233);
}

.main-header {
    display: flex;
    justify-content: center;
}

.image {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.choose {
    display: flex;
    justify-content: space-around;
}

.credits {
    display: flex;
    flex-direction: column;
}